.countries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  &__title {
    text-align: center;
    padding: 20px;
    font-weight: 800;
    letter-spacing: 5px;
    color: var(--blue);
    font-size: 30px;
  }

  &__loading {
    color: var(--loading);
    letter-spacing: 2px;
  }

  &__error {
    color: var(--error);
    letter-spacing: 2px;
  }
}
