:root {
  --background: #bfbfbf;
  --gray-base: rgba(0, 0, 0, 0.88);
  --light-gray: #f3f3f3;
  --dark-gray: #e6e7e8;
  --blue: #69a0c7;
  --error: red;
  --loading: #666060;
  --border: #f0f0f0;
  --white: white;
}